

/* ----------- RESET -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }




:root {
  /* -------- COLORS--------- */
    --black: 
    rgb(15, 15, 15);
      --baltic-sea: 
    rgba(42, 43, 46, 1);
    --gray:
     rgb(54, 54, 54);
      --perfume: 
      rgba(255, 165, 82, 1);
      --razzle-dazzle-rose: 
      rgba(215, 11, 121, 1);
      --ultra-violet :
      rgba(90, 52, 87, 1);
      --white: 
    rgba(255, 255, 255, 1);
    

    /* -------- FONT SYSTEM --------- */
      --font-text: 0.875rem;
      --font-desc: 1rem;
      --font-subtitles: 1.125rem;
      --font-home-desc: 1.5rem;
      --font-h2: 2.25rem;
      --font-headline: 2.9rem;
      --font-headline-big: 4.5rem;
    


    /* -------- SPACING SYSTEM MARGIN --------- */
    --m-2: 2rem;
    --m-3: 3rem;
    --m-4: 4rem;
    --m-5: 5rem;
    --m-1-5: 1.5rem;
    --m-1: 1rem;

      /* -------- Z INDEX --------- */

}

/* -------- SCROLLBAR --------- */
::-webkit-scrollbar {
    width: 0.7vw ;
    background:var(--baltic-sea);
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: rgb(105, 105, 105);
}

/* ----------- GENERAL STYLES ------------ */
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--baltic-sea);
    color: var(--white);

}

section {
    width: 99.3vw;
    overflow: hidden;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}


img{
    max-width: 100%;
}

a {
    text-decoration:none ;
    color: var(--white);
}

ul {
    list-style: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

h1 {
    font-size: 10vh;
    font-family: 'Bebas Neue';
    letter-spacing: 1px;
}

h2 {
    font-size: var(--font-h2);
    margin-top: var(--m-2);
    margin-bottom: var(--m-1);
}

h3 {
    text-transform: uppercase;
    font-size: var(--font-desc);
    letter-spacing: 2.5px;
    color: var(--razzle-dazzle-rose);
    margin-bottom: var(--m-3);
    display: block;
    font-weight: lighter;
}

h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: lighter;
    font-size: var(--font-text);
    color:var(--perfume);
    margin-bottom: 0.3rem;
}




/* ----------- REUSABLE MIXINS ------------ */

@mixin float {
    @keyframes floating {
        from { transform: translate(0,  0px); }
        65%  { transform: translate(0, 10rem); }
        to   { transform: translate(0, -0px); }    
    }
}

@mixin hover {
    position: relative; 

        &:hover {
            &::before {
            opacity: 1;
            transition: .5s;
            }

            &::after {
                opacity: 1;
                transition: .5s;
                }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(212, 0, 117, 0.7) 95%);
            content: '';
            z-index:100 ;
            border-radius: 1rem ;
            opacity: 0;
        }

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: 'webpage';
            text-transform: uppercase;
            letter-spacing: 4px;
            z-index: 101;
            opacity: 0;
        }
}

@mixin hover02 {
    position: relative; 

        &:hover {
            &::before {
            opacity: 1;
            transition: .5s;
            }

            &::after {
                opacity: 1;
                transition: .5s;
                }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(212, 0, 117, 0.7) 95%);
            content: '';
            z-index:100 ;
            border-radius: 1rem ;
            opacity: 0;
        }

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: 'graphic';
            text-transform: uppercase;
            letter-spacing: 4px;
            z-index: 101;
            opacity: 0;
        }
}
/*  ===================== Animation ================== */
.home__circle--middle, .home__circle--bigger, .home__circle--biggest, .home__circle--tiny, .home__circle--small, .contact__circle--xs, .contact__circle--s, .contact__circle--m , .contact__circle--l, .contact__circle--xl {  
    animation-name: floating;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}


/*  ===================== HEADER ================== */


header {
    position: fixed;
    width: 100vw;   
    z-index: 100;
    background: rgba(219, 167, 204, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    opacity: 0.7;
    
}
.nav {
    max-width: 1100px;
    padding: .5rem 0;
    margin: auto;


    &__wrap {
     display: flex;
     justify-content: space-between;
    }

    &__logo {
    display: flex;
    text-transform: uppercase;

    }

    &__p {
        font-size: 40px;
    }


    &__name {
        align-self: center;
        line-height: 1.4;
        letter-spacing: 3px;
        margin-left: 0.8rem;
        font-weight: 400;
        font-size: 14px;
    }

    &__menu {
        align-self: center;
        font-size: var(--font-subtitles)
    }

    &__list {
        display: flex;
        flex-direction: row;
        column-gap: 1.8rem;
        align-self: center;
    }
    &__link {
    position: relative;
    }
    &__link {

        &:after {    
            background: none repeat scroll 0 0 transparent;
            bottom: -2px;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          }
          &:hover:after { 
            width: 100%; 
            left: 0; 
          }
    }


    &__toggle  {
        color: var(--white);
        display: none;
    }

    &__close {
        color: var(--white);
        display: none;
    }
    
    .circle {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    background-color: rgb(112, 72, 110);
    }

    a:hover {
        opacity: 1;
    }
  }

/*  ===================== HOME SECTION ================== */
  .home {
    padding-top: 1rem;
    background-color: var(--ultra-violet);
    height: 100vh;
    position: relative;
    overflow: hidden;


    h1  {
        font-weight: lighter;
    }
    strong  {
        font-weight: lighter;
    }


    /*  ============== SHAPES ============== */
    &__circle {

        &--tiny {
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
            background-color: rgb(138, 114, 137);
            position: absolute;
            left:30%;
            top: 3rem;
            opacity: 0.2; 

            @include float 
        }
        
        &--small {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color: rgb(138, 114, 137);
        position: absolute;
        left: 2rem;
        top: 5rem;
        opacity: 0.5;

            &:hover {
            background-color: var(--razzle-dazzle-rose);
            transition: 0.5s;
            }
            @include float
    
        }

        &--middle {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            background-color: rgb(138, 114, 137);
            position: absolute;
            right: 5rem;
            top: -2rem; 
            opacity: 0.5;

            &:hover {
                background-color: var(--razzle-dazzle-rose);
                transition: 0.5s;
            }

            @include float
        }

        &--bigger {
            height: 17rem;
            width: 17rem;
            border-radius: 50%;
            background-color: rgb(107, 69, 107);
            position: absolute;
            top: 20rem;
            left: -3rem;
            opacity: 0.5;

            &:hover {
                background-color: var(--razzle-dazzle-rose);
                transition: 0.5s;
            }

            @include float
        }

        &--biggest {
            height: 50rem;
            width: 50rem;
            position: absolute;
            bottom: -15rem;
            right: -7rem;
            opacity: 0.15;

            &:hover {
                background-color: var(--razzle-dazzle-rose);
                transition: 0.5s;
            }

            @include float
        }


    }
    .leak {
        width: 50rem;
        height: 50rem;
        background: radial-gradient(circle, rgba(215,11,121,0.47102591036414565) 0%, rgba(42,43,46,0) 47%, rgba(42,43,46,0) 100%);
        position: absolute;
        top: 10rem;
        left: 0rem;
        opacity: 0.7;
        
    }

    .leak2 {
        width: 50rem;
        height: 50rem;
        background: radial-gradient(circle, rgba(215,11,121,0.47102591036414565) 0%, rgba(42,43,46,0) 47%, rgba(42,43,46,0) 100%);
        position: absolute;
        top: -30rem;
        right: -15rem;
        opacity: 0.7;
    }

    .leak3 {
        width: 100rem;
        height: 50rem;
        background: radial-gradient(circle, rgba(255, 145, 0, 0.856) 0%, rgba(255, 255, 255, 0) 47%, rgba(218, 124, 16, 0) 100%);
        position: absolute;
        bottom: -15rem;
        right: -30rem;
        opacity: 0.5;
    }

    .leak4 {
        width: 100rem;
        height: 50rem;
        background: radial-gradient(circle, rgba(255, 145, 0, 0.856) 0%, rgba(255, 255, 255, 0) 47%, rgba(218, 124, 16, 0) 100%);
        position: absolute;
        top: -5rem;
        left: -10rem;
        opacity: 0.5;
    }

     /*  ============== CONTENT ============== */
     
    &__text {
    position: absolute;
    top: 30%;
    right:55%;
        
    }
     

    &__paty {
        color: var(--razzle-dazzle-rose);
        font-size: 10vh;
    }

    &__description {
        font-size: 6vh;
    }

    &__city {
        font-size: 3vh;
        color: var(--perfume);
        
    }

    &__picture {
        max-width: 45vh;
        position: absolute;
        left: 60%;
        bottom: 0rem;
    }
  }

/*  ===================== SKILLS SECTION ================== */  
  .skill {
      text-align: center;
      max-width: 85vw;
      margin-bottom: var(--m-5);
      position: relative;
      margin: auto;
      padding: 4rem 0  3rem 0;


      &__items {
          margin: var(--m-2);
          margin-bottom: 5rem;
          position: relative;
          
      }

      &__icon {
          font-size: 4rem ;
          margin-bottom: 1rem;
          opacity: 0.7;
          
      }
      &__item--designer {
        height: 18rem;
        padding: 4rem 3rem;
        border-radius:  2rem ;
        border: 3px solid rgba($color: rgb(80, 80, 80), $alpha: 0.5);
        box-shadow: 2px 3px 20px rgba(0, 0, 0, .1);
        transition: 0.5;
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: center;
        
        }
      

      
      &__item--developer {
        height: 18rem;
        padding: 4rem 3rem;
        border-radius:  2rem ;
        border: 3px solid rgba($color: rgb(80, 80, 80), $alpha: 0.5);
        box-shadow: 2px 3px 20px rgba(0, 0, 0, .1);
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: center;
      }


      &__item--description {
          font-size: var(--font-text);
          opacity: 0.7;
      }

      
  }

  
  .skill__item--designer:hover {
    transform: translateY(-10px);
    transition: 0.5s ease;
    }
    .skill__item--developer:hover {
        transform: translateY(-10px);
        transition: 0.8s ;
        }

  /*  ===================== PORTFOLIO SECTION ================== */  
  .portfolio {
    text-align: center;
    background-color: var(--gray);
    padding: 3rem 3rem 10rem 3rem;
   ;

    

    &__grid {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2, 300px);
        gap: 1rem;
        
    }

    & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        // box-shadow: 2px 3px 10px rgba(0, 0, 0, .3);
        opacity: 0.7;
        border-radius: 1rem ;


    }

    &__img--1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2 ;
        @include hover;
    }

    &__img--2 {
        @include hover;
    }
    &__img--4 {
        grid-row: span 2 ;
        @include hover02;
    }

    &__img--6 {
        grid-column: span 2;
        @include hover02;
    }

    
  }


//  ===================== ABOUT SECTION ================== 

.about {
   
    display: flex;
    font-size: var(--font-text);
    border-top: solid 3px var(--razzle-dazzle-rose);

    h2, h3 {
        text-align: center;
    }
    h3 {
        color:var(--perfume)
    }


    &__text {
        max-width: 35%;
        margin: auto;
        padding: 3rem 0;
    }

    &__pic {
        max-width: 50%;
        
    }
    &__image {
        // height: auto;
        max-height: 850px;
        width: 700px;
        object-fit: cover;
        display: block;

    }

    &__paragraph {
        line-height: 1.8;
        padding-bottom: 2rem;
    }

    &__create {
        color: var(--razzle-dazzle-rose);
    }
}

//  ===================== CONTACT SECTION ==================
.contact {
    position: relative;
    background-color: var(--ultra-violet);
   

    .container {
    margin: auto;
    max-width: 45rem;
    text-align: center; 
  
    }
 

    &__text {
        margin: 10rem 2rem ;  
    }

    &__icons {
        margin: 4rem  0;
        display: flex;  
        justify-content: space-between;
       
    }

    &__icon {
         opacity: 0.7;
         transition: .3s;

        &:hover {
            opacity: 0.9;
        }
    }

    &__button {
        background: none;
        padding: 1rem 5rem;
        margin-top: 4rem;
        border: 1px solid var(--razzle-dazzle-rose);
        text-transform: uppercase;
        color: var(--razzle-dazzle-rose);
        position: relative;
    }

      &__button:hover {
            cursor: pointer;
          }
          
          &__button::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 1px solid var(--razzle-dazzle-rose);
            transform-origin: center;
            transform: scale(1);
          }
          
          &__button:hover::before {
            transition: all 0.75s ease-in-out;
            transform-origin: center;
            transform: scale(1.75);
            opacity: 0;
          }
          
    

    &__a {
        color: var(--razzle-dazzle-rose);
    }
// ---------------SHAPES ---------------
    &__circle {
        &--xs {
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
            background-color: rgb(138, 114, 137);
            position: absolute;
            left:30%;
            top: -1rem;
            opacity: 0.2;

           @include float
        }
        &--s {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            background-color: rgb(138, 114, 137);
            position: absolute;
            left: 2rem;
            top: 5rem;
            opacity: 0.5;

            @include float
        }
        &--m {
            height: 15rem;
            width: 15rem;
            border-radius: 50%;
            background-color: rgb(138, 114, 137);
            position: absolute;
            right: 5rem;
            top: -2rem; 
            opacity: 0.5;

            @include float
        }
        &--l {
            height: 30rem;
            width: 30rem;
            border-radius: 50%;
            background-color: rgb(107, 69, 107);
            position: absolute;
            top: 20rem;
            left: -3rem;
            opacity: 0.5;  

            @include float
        }

        &--xl {
            height: 40rem;
            width: 40rem;
            border-radius: 50%;
            background-color: rgb(107, 69, 107);
            position: absolute;
            bottom: -20rem;
            right: -10rem;
            opacity: 0.5;

            @include float
        
        }

        
    
    }
    .leak01 {
            width: 50rem;
            height: 50rem;
            background: radial-gradient(circle, rgba(215,11,121,0.47102591036414565) 0%, rgba(42,43,46,0) 47%, rgba(42,43,46,0) 100%);
            position: absolute;
            top: 10rem;
            left: 0rem;
            opacity: 0.7;
        }
    
        .leak02 {
            width: 50rem;
            height: 50rem;
            background: radial-gradient(circle, rgba(215,11,121,0.47102591036414565) 0%, rgba(42,43,46,0) 47%, rgba(42,43,46,0) 100%);
            position: absolute;
            top: -30rem;
            right: -15rem;
            opacity: 0.7;
        }
    
        .leak03 {
            width: 100rem;
            height: 50rem;
            background: radial-gradient(circle, rgba(255, 145, 0, 0.856) 0%, rgba(255, 255, 255, 0) 47%, rgba(218, 124, 16, 0) 100%);
            position: absolute;
            bottom: -15rem;
            right: -30rem;
            opacity: 0.5;
        }

}

//  ===================== FOOTER ==================

.footer {
    padding: var(--m-1);
    border-bottom: solid 4px var(--razzle-dazzle-rose);

    &__text {
        font-size: 0.8rem;
        display: flex;
        margin: 1rem auto;
        justify-content: center;
    }
}


 /*  ============== RESPONSIVITY ============== */


 @media (max-width: 1200px) {
    .portfolio__grid {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3, 300px);
        gap: 1rem;
    }

    .portfolio__img--4 {
     grid-row: span 1;
     
    }

    .nav {
    padding: 0 2rem;
    }

    .grid {
    grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 1063px) {

    .home {
    
        &__text { 
            width: 30rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }

        &__picture {
            right: 5%;
            left:unset;
           display: none;
        }

    }
    .about {
    flex-direction: column;

        &__text {
        max-width: 65%;
        }

        &__image {
            max-height: 50vw;
            width: 100vw;
            max-width: unset;
        }
    }

    .contact {
        &__button {
            border-color: white;

            &::before {
                border: 1px solid white;
            }
        }

        &__a {
            color: white;
        }
    }
}


@media (max-width: 730px) {


    //  Nav toggle responzive
     .nav__menu {
         position: fixed;
         background-color: var(--baltic-sea);
         width: 80%;
         height: 100vh;
         top: 0;
         right: -100%;
        padding: 4rem 0rem 4rem 3rem;
        border-radius: 1rem 0 0 1rem;
        transition: 0.3s;
        z-index: 100;
        }

     .nav__list {
         display: flex;
         flex-direction: column;
         row-gap: 1rem;
        }
     
     .nav__toggle {
        display: inline-flex;
        font-size: 1.8rem;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1.25rem;
        }

     .nav__close {
        display: inline-flex;
        font-size: 1.8rem;
        position: absolute;
        top: 1rem;
        right: 1.25rem;
        cursor: pointer;
        }

    .about {
        &__pic img {
           max-height: 40rem;
        }
    }

    .show-menu {
        right: 0;
    }

    .portfolio {
        &__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 17rem);

            
        }
        &__img--4 {
            grid-column: span 2;
            grid-row: span 2;
        }

        &__img--6 {
            grid-column: span 1;
        }

        &__img--7{
            grid-column: span 2;
        }
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        }

    .portfolio {
        &__grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 10rem);
        }

        &__img--7,  &__img--4,  &__img--1 {  
        grid-column: span 1;
        grid-row: span 1;
        }

    }
    

}