

/* ----------- RESET -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }




:root {
  /* -------- COLORS--------- */
    --black: 
    rgb(15, 15, 15);
      --baltic-sea: 
    rgba(42, 43, 46, 1);
      --perfume: 
    rgba(209, 192, 245, 1);
      --razzle-dazzle-rose: 
    rgba(244, 83, 208, 1);
      --white: 
    rgba(255, 255, 255, 1);
    

    /* -------- FONT SYSTEM --------- */
      --font-text: 0.875rem;
      --font-desc: 1rem;
      --font-subtitles: 1.125rem;
      --font-home-desc: 1.5rem;
      --font-h1: 2.25rem;
      --font-headline: 3rem;
      --font-headline-big: 4.5rem;
    


    /* -------- SPACING SYSTEM MARGIN --------- */
    --m-2: 2rem;
    --m-3: 3rem;
}

/* ----------- GENERAL STYLES ------------ */
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--baltic-sea);
    color: var(--white);
}



.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--m-3);
    margin-top: var(--m-2);

    // MOBILE!
    // padding: 0 2rem;
}

.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
}

img{
    max-width: 100%;
}

a {
    text-decoration:none ;
    color: var(--white);
}

ul {
    list-style: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

h1 {
    font-size: var(--font-headline-big);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}

/*  ===================== HEADER ================== */


.circle {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    background-color: var(--black);

  }

.nav {
    &__wrap {
     display: flex;
     justify-content: space-between;
    }

    &__logo {
    display: flex;
    text-transform: uppercase;
    }

    &__p {
        font-size: 40px;
    }


    &__name {
        align-self: center;
        line-height: 1.4;
        letter-spacing: 3px;
        margin-left: 0.8rem;
        font-weight: 400;
        font-size: 14px;
    }

    &__menu {
        align-self: center;
        font-size: var(--font-subtitles)
    }

    &__list {
        display: flex;
        flex-direction: row;
        column-gap: 1.8rem;
        align-self: center;
    }


    &__toggle  {
        color: var(--white);
        display: none;
    }

    &__close {
        color: var(--white);
        display: none;
    }
  }

/*  ===================== HOME SECTION ================== */
  .home {
    position: relative;

    h1  {
        font-weight: lighter;
    }
    strong  {
        font-weight: lighter;
    }

    /*  ============== SHAPES ============== */
    &__circle--small {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color: var(--razzle-dazzle-rose);
        position: absolute;
        left: -17rem;
        top: -2rem;
    }

    &__circle--middle {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background-color: var(--razzle-dazzle-rose);
        position: absolute;
        right: -17rem;
        top: -2rem;

    }
    
    &__circle--biggest {
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 50%;
        background-color: var(--razzle-dazzle-rose);
        position: absolute;
        top: 2rem;
        left: -2rem;
    }

    &__leak--biggest {
        position: absolute;
        bottom: -13rem;
        left: -38rem;
    }

    &__leak--smaller {
        position: absolute;
        bottom: -10rem;
        right: -31rem;

    }

     /*  ============== CONTENT ============== */
    &__main {
        display: flex;
    }
    &__text {
        padding: 4rem 9rem;
    }
     

    &__paty {
        color: var(--perfume);
    }

    &__description {
        font-size: var(--font-headline);
    }

    &__city {
        font-size: var(--font-home-desc);
        padding: 1rem  0 0 13rem ;
        
    }

    &__picture {
        position: absolute;
        right: -12rem;
        bottom: -4rem;
    }
  }